body {
    color: black;
    font-size: 0.9em;
    font-family: Arial;
    line-height: 1.4em;
  }

  h2 {
    color: #CC6600;
    font-size: 1.6em;
    line-height: 1.2em;
  }
  
  #menu > ul li a {
    color: white;
    font-size: 1.3em;
    background-color: blue;
  }

  .fecha {
    color: #5c5b5a;
  }

  #lateral {
    font-size: 0.9em;
  }


  #noticias  h3 {
    color: #003366;
  }

  #publicidad  {
    color: rgb(73, 71, 71);
  }

#publicidad  a {
    color: #cc6600;
  }

  
  .articulo a {
	color: #cc6600;
		}

    header {
      display: flex;
      justify-content: space-between;
      padding: 20px 0;
      align-items: center;
    }
    
    header figure img {
      width: 171px;
    }
    
    header figure {
      margin: 0;
      display:  flex;
      gap: 60px;
      align-items: center;
      justify-content: center;
    }
    
    header figcaption {
      display: none;
    }
    
    header nav ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      gap: 56px;
    }
    
    header nav ul a {
      font-family: "Poppins";
      color: #424241;
      text-decoration: none;
      font-weight: normal;
      background-color: orange;
      padding: 10px 20px;
      border-radius: 5px;
      transition: all 0.3s ease;
      font-size: 20px;
    }